.body{
  margin: auto;
  padding: auto;
  background-color: orchid;
}


.nav{
  display: flex;
  justify-content: space-between;
  /* text-decoration: none; */
}

.ancor{
  text-decoration: none;
  gap: 5px;
}

.hero{
 display: flex;
 justify-content: space-between;
 border: 2px solid purple;
 padding: 10px;
}

.get{
  font-size: 80px;
}

.habit{
  text-align: center;
  margin-top: 10px;
}

#imgs{
  display: flex;
  gap: 40px;
  padding: 5px;
  border: 2px solid  orangered;
  /* margin-left: 40px; */
}

.run{
  display: flex;

}

.igs{
  width: 0px;
  height: 0px;
}